@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root {
    --Pale-Violet: hsl(276, 100%, 81%);
    --Moderate-Violet: hsl(276, 55%, 52%);
    --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
    --Grayish-Blue: hsl(206, 6%, 79%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Dark-Grayish-Violet: hsl(270, 7%, 64%);
    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet: hsl(270, 20%, 96%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Very-Light-Magenta: hsl(289, 100%, 72%);
    --Linear-Gradient: hsl(293, 100%, 63%),hsl(264, 100%, 61%);
}
* {margin: 0; padding: 0; box-sizing: border-box;}
body {
    font-family: 'Rubik', sans-serif;
}
.background {
    width: 460px;
    height: 700px;
    position: fixed;
    z-index: -1;
}
.back-1 {
    top: 0;
    left: -50px;
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 250px;
    background-image: linear-gradient(var(--Linear-Gradient));
}
.back-2 {
    bottom: 0;
    right: 0;
    transform: translateX(50%);
    border-top-right-radius: 250px;
    border-top-left-radius: 250px;
    background-color: var(--Light-Grayish-Violet);
}
main {
    width: 250px;
    height: 510px;
    border: 10px solid var(--White);
    position: relative;
    margin-left: 25%;
    margin-top: 100px;
    box-shadow: 2px 10px 50px var(--Grayish-Blue);
    border-radius: 32px;
    background-color: var(--Light-Grayish-Violet);
}
main::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--White);
    height: 30px;
    width: 130px;
    border-radius: 14px;
}
.header {
    height: 65px;
    width: 100%;
    background-image: linear-gradient(270deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 30px 5px 10px 5px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  color: var(--White);
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--Grayish-Blue);
    overflow: hidden;
    margin-inline-start: -30px;
}
.avatar img {
    width: 100%;
    height: 100%;
}
.profile {
    margin-inline-start: -20px;
}
.name {
    font-size: 14px;
    font-weight: 500;
    color: var(--Light-Grayish-Violet);
}
.title {
    font-size: 10px;
    color: var(--Pale-Violet);
}
.more {
    margin-inline-start: 0px;
    margin-inline-end: -20px;
}
.chat-wrapper {
    height: calc(100% - 65px);
    width: 100%;
    padding: 12px 8px;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.msg-box {
    width: 65%;
    line-height: 1.25;
    padding: 8px 10px;
    display: flex;
    align-items: center;
}
.msg-gray {
    background-color: hsla(206, 6%, 79%, 0.25);
}
.msg-left {  
    color: var(--Moderate-Violet);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 10px;
}
.msg-right {
    align-self: flex-end;
    background-color: var(--White);
    color: var(--Desaturated-Dark-Violet);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.msg-gradient {
    background-image: linear-gradient(90deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    color: var(--White);
    width: 75%;
    height: 32px;
}
.time {
    margin-inline-start: 10px;
    color: var(--Light-Grayish-Violet);
}
.circle {
    height: 12px;
    width: 12px;
    border: 1px solid var(--Pale-Violet);
    border-radius: 50%;
}
.cost {
    flex-basis: 30%;
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}
.input {
    width: 100%;
    height: 36px;
    position: relative;
}
input[type=text] {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 30px;
}
input[type=text]::placeholder {
    font-size: 10px;
    color: var(--Grayish-Blue);
    padding: 20px;
}
.forward {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--Very-Dark-Desaturated-Violet);
    border-radius: 50%;
}
.forward img {
    height: 26px;
    width: 26px;
} 
.img-wrapper {
    height: 40px;
    width: 140px;
    align-self: flex-end;
    display: flex;
    gap: 10px;
}
.img-wrapper .image {
    height: 100%;
    width: 40px;
    border-radius: 10px;
}
header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}
h1 {
    color: var(--Very-Dark-Desaturated-Violet);
    font-size: 2.25em;
}
header > P {
    color: var(--Dark-Grayish-Violet);
    margin-block-start: 24px;
    line-height: 1.5;
    width: 65%;
}
@media(max-width: 1024px) {
    .background {
        width: 300px;
    }
    main {
        margin-left: 16%;
    }
}
@media(max-width: 768px) {
    main {
        position: relative;
        margin: 60px auto;
        transform: translateY(0);
    }
    header {
        position: relative;
        top: 0;
        left: 0;
        margin: 60px auto;
        transform: translateY(0%);
        text-align: center;
        width: 75%;
    }
    header > p {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .background {
        width: 60%;
    }
    header {
        width: 100%;
        padding: 0 30px;
    }
}
@media (max-height: 700px) {
    .background {
        height: 600px;
    }
}
@media (max-width: 325px) {
    header {
        padding: 0 20px;
    }
}